

/* --------Index page layout--------- */

#cont{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}


#test{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
    display: block; 
}


#abc{
    padding-left: 100px;
    padding-top: 20px;
}


.add{
    text-decoration: none;
    color: black;
    font-size: 22px;
}


.fa-circle-plus{
    font-size:36px; 
    color: #00A5EC;
    padding-left: 1200px;
}


.div1{
    margin-left: 30px;
    margin-top: 10px;
}


.efg{
    left: 139px;
    width: 350px;
    height: 370px;
    padding: 20px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    float: left;
    margin: 40px;
}


.h3{
    color: #00A5EC;
    padding-left: 20px;
}


.xyz{
    text-decoration: line-through;
    color: gray;
}


.full{
    width: 100vw;
    height: 100vw;
    background-color: #FFFFFF;
}

.efg:hover{
    box-shadow: 1px 1px 10px rgb(211, 203, 203), -1px -1px 10px rgb(211, 203, 203);
}

/* ----------Page-1 layout---------- */

#cont1{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    filter: brightness(30%);
}

#popup {
    height: 300px;
    width: 400px;
    border: 0px solid blue;
    border-radius: 15px;
    background-color: white;
    color: #424242;
    position: absolute;
    top: 35%;
    left: 35%;

}
#add-cross {
    height: 60px;
    display: flex;
}

.add {
    color: #404040;
    margin-left: 20px;
}
#popup-cross {
    margin: 22px;
    color: #858585;
    font-size:20px;
    margin-left: 200px;
}

#popup-text {
    height: 20px;
    width: 350px;
    margin-top: 60px;
}
#popup-button {
    float: right;
    border: 0px;
    height: 40px;
    width: 120px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #00A5EC;

}
 
input{
    accent-color: #C2C2C2;
}


/* --------- Page-2 layout---------- */



.ef{
    left: 139px;
    width: 350px;
    height: 370px;
    padding: 20px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin: 10px;
    margin-left: 600px;
} 

.ef:hover{
    box-shadow: 1px 1px 10px rgb(211, 203, 203), -1px -1px 10px rgb(211, 203, 203);
}

    #cont2{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    }


    .h4{
        color: #00A5EC;
        padding-left: 20px;
    }
    
    
    .xyz{
        text-decoration: line-through;
        color: gray;
    }
    
    .back{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    
    
    .fa-circle-back{
        font-size:30px; 
        color: #252a2c;
        padding-left: 620px;
        margin-top: 10px;
    }

    .flot{
        display: flex;
        flex-wrap: wrap;
    }

    .fa-circle-plus2{
        font-size:36px; 
        color: #00A5EC;
        padding-left: 120px;
    }


    .none{
        text-decoration: none;
    }

    /* -----------Page-3 layout------------ */

    #cont3{
        top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    filter: brightness(30%);
    }


    #popup2{
        height: 300px;
        width: 400px;
        border: 0px solid blue;
        border-radius: 15px;
        background-color: white;
        color: #424242;
        position: absolute;
        top: 35%;
        left: 620px;
    
    }
 

    .fixed{
        position: fixed;
        bottom: 0%;
        padding: 10px;
        background-color: #FFFFFF;
        width: 100vw;
        height: 40px;

    }

